/*----------------------------------------
[Master Stylesheet]

Project:	FlixGo
Version:	1.0
Primary use:	HotFlix Template
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. Header
2. Home
3. Content
4. Section
5. Breadcrumb
6. Card
7. Catalog
8. Filter
9. Paginator
10. Profile
11. Price
12. FAQ
13. Feature
14. How
15. Partners
16. Contacts
17. Form
18. Comments
19. Reviews
20.	Gallery
21. Footer
22. Sign
23. Page 404
24. Plyr customization
25. PhotoSwipe customization
26. mCustomScrollbar customization
----------------------------------------*/
/*==============================
	Fonts
==============================*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
/*==============================
	Common styles
==============================*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #1a191f;
  -webkit-font-smoothing: antialiased;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  transition-property: color, background-color, border-color, opacity;
}
button:focus {
  outline: none;
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  transition-property: color, background-color, border-color, opacity;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #1a191f;
  color: #aa0001;
  text-shadow: none;
}
::selection {
  background: #1a191f;
  color: #aa0001;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
  opacity: 1;
}
::-moz-placeholder {
  color: rgba(255,255,255,0.6);
  opacity: 1;
}
:-moz-placeholder {
  color: rgba(255,255,255,0.6);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.6);
  opacity: 1;
}
@media (min-width: 1310px) {
  .container {
    max-width: 1310px;
  }
}
.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.b-description_readmore_button {
  cursor: pointer;
  display: block;
  height: 24px;
  width: 100%;
  position: relative;
}
.b-description_readmore_button:before {
  content: '\f1c8';
  font-family: "Ionicons";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: rgba(255,255,255,0.7);
  font-size: 22px;
  line-height: 24px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.b-description_readmore_button:hover:before,
.b-description_readmore_button.b-description_readmore_button_active:before {
  color: #aa0001;
}
.body:before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(26,25,31,0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.body--active:before {
  z-index: 99;
  opacity: 1;
  pointer-events: auto;
}
/*==============================
	Header
==============================*/
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1a191f;
  z-index: 101;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.header__logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  width: 100px;
}
.header__logo img {
  width: 100%;
  max-width: 110px;
  display: block;
}
.header__nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  background-color: #1a191f;
  z-index: 99;
  width: 300px;
  padding: 30px 30px 0;
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.header__nav--active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.header__nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
  letter-spacing: 0.4px;
}
.header__nav-link:hover {
  color: #aa0001;
}
.header__nav-link--more {
  font-size: 24px;
}
.header__nav-link--active {
  color: #aa0001;
}
.header__nav-item {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.header__nav-item:last-child {
  margin-bottom: 0;
}
.header__nav-item.show .header__nav-link {
  color: #aa0001;
}
.header__dropdown {
  position: relative;
  display: block;
  width: 100%;
}
.header__dropdown-menu {
  position: absolute;
  background-color: #1a191f;
  padding: 15px 20px;
  display: block;
  width: 100%;
  min-width: 200px;
  text-align: left;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 0;
  top: 100%;
}
.header__dropdown-menu li {
  padding: 0;
}
.header__dropdown-menu a {
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  line-height: 40px;
  display: block;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.header__dropdown-menu a:hover {
  color: #aa0001;
}
.header__dropdown-menu.show {
  z-index: 1000;
  pointer-events: auto;
  opacity: 1;
  margin-top: 10px;
}
.header__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  position: relative;
}
.header__auth {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 42px;
}
.header__sign-in {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-left: 20px;
  border: 1px solid #aa0001;
  background-color: #aa0001;
}
.header__sign-in span {
  display: none;
}
.header__sign-in i {
  color: rgba(255,255,255,0.7);
  font-size: 24px;
}
.header__btn {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  width: 22px;
  height: 40px;
}
.header__btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 22px;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  top: 13px;
  background-color: rgba(255,255,255,0.7);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.header__btn span:nth-child(2) {
  top: 21px;
}
.header__btn span:nth-child(3) {
  top: 29px;
}
.header__btn:hover span {
  background-color: #aa0001;
}
.header__btn--active span {
  background-color: #aa0001;
}
.header__btn--active span:nth-child(1) {
  top: 21px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__btn--active span:nth-child(2) {
  opacity: 0;
}
.header__btn--active span:nth-child(3) {
  top: 21px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__lang {
  position: relative;
  margin-left: 20px;
}
.header__lang .header__dropdown-menu {
  min-width: 122px;
  margin-top: -10px;
}
.header__lang .header__dropdown-menu.show {
  margin-top: 0;
}
.header__lang .header__nav-link {
  line-height: 70px;
  display: block;
}
.header__lang.show .header__nav-link {
  color: #aa0001;
}
.header__search-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  color: rgba(255,255,255,0.7);
  font-size: 22px;
}
.header__search-btn i {
  margin-top: 2px;
}
.header__search-btn:hover {
  color: #aa0001;
}
.header__search {
  position: absolute;
  background-color: #1a191f;
  top: 0;
  right: -15px;
  left: -15px;
  bottom: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.header__search--active {
  opacity: 1;
  pointer-events: auto;
}
.header__search-input {
  width: 240px;
  height: 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(210,201,255,0.04);
  border: 1px solid transparent;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.4px;
  padding: 0 50px 0 20px;
}
.header__search-input:focus {
  border-color: #aa0001;
}
.header__search-button {
  position: absolute;
  height: 40px;
  color: rgba(255,255,255,0.6);
  font-size: 22px;
  top: 50%;
  margin-top: -20px;
  left: 219px;
}
.header__search-button i {
  margin-top: 2px;
}
.header__search-button:hover {
  color: #aa0001;
}
.header__search-close {
  position: absolute;
  height: 40px;
  color: rgba(255,255,255,0.6);
  font-size: 24px;
  top: 50%;
  margin-top: -20px;
  right: 15px;
}
.header__search-close:hover {
  color: #aa0001;
}
@media (min-width: 576px) {
  .header__logo {
    width: 110px;
  }
  .header__sign-in,
  .header__lang {
    margin-left: 30px;
  }
  .header__auth {
    margin-right: 52px;
  }
  .header__lang .header__dropdown-menu {
    min-width: 140px;
  }
  .header__search-btn {
    display: none;
  }
  .header__search-close {
    display: none;
  }
  .header__search {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    padding: 0;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    background-color: transparent;
  }
  .header__search-input {
    width: 200px;
  }
  .header__search-button {
    left: auto;
    right: 20px;
  }
}
@media (min-width: 768px) {
  .header__content {
    height: 80px;
  }
  .header__logo {
    height: 80px;
  }
  .header__auth {
    margin-right: 52px;
  }
  .header__sign-in {
    height: 40px;
    width: 120px;
    margin-left: 30px;
  }
  .header__sign-in i {
    display: none;
  }
  .header__sign-in span {
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    letter-spacing: 0.4px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
  }
  .header__sign-in:hover span {
    color: #fff;
  }
  .header__nav {
    top: 80px;
    width: 260px;
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }
  .header__nav--active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .header__lang .header__nav-link {
    line-height: 80px;
  }
  .header__search input {
    width: 240px;
  }
}
@media (min-width: 1200px) {
  .header__sign-in {
    margin-left: 45px;
  }
  .header__auth {
    margin-right: 0;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0;
    background-color: transparent;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    margin-left: 80px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav-item {
    margin: 0 40px 0 0;
    width: auto;
  }
  .header__nav-item:last-child {
    margin: 0;
  }
  .header__nav-link {
    line-height: 80px;
    display: block;
  }
  .header__nav-link--active {
    color: #aa0001;
    cursor: default;
    position: relative;
  }
  .header__nav-link--active:hover {
    color: #aa0001;
  }
  .header__content {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header__auth {
    margin-left: auto;
  }
  .header__dropdown-menu {
    margin-top: -10px;
  }
  .header__dropdown-menu.show {
    margin-top: 0;
  }
  .header__lang {
    margin-left: 45px;
  }
}
@media (min-width: 1310px) {
  .header__nav-item {
    margin: 0 45px 0 0;
  }
  .header__nav-item:last-child {
    margin: 0;
  }
}
/*==============================
	Home
==============================*/
.home {
  margin-top: 70px;
  position: relative;
  display: block;
  background-color: #1a191f;
  padding: 40px 0;
  overflow: hidden;
}
.home .container {
  position: relative;
  z-index: 2;
}
.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.home__cover {
  opacity: 0.05;
}
.home__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.4px;
  margin: 0;
  padding-right: 70px;
}
.home__title b {
  font-weight: 600;
}
.home__carousel .card {
  margin-top: 25px;
  margin-bottom: 0;
}
.home__nav {
  font-size: 36px;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  height: 24px;
  margin-top: -12px;
  right: 15px;
  display: block;
  z-index: 2;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.home__nav i {
  line-height: 24px;
  height: 24px;
  display: block;
}
.home__nav i:before {
  line-height: 24px;
}
.home__nav--prev {
  right: 55px;
}
.home__nav:hover {
  opacity: 1;
}
.home--bg:before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: url("../img/home/home__bg.jpg") no-repeat center/cover;
  opacity: 0.05;
}
@media (min-width: 576px) {
  .home__title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .home {
    margin-top: 80px;
    padding: 60px 0;
  }
  .home__title {
    font-size: 32px;
  }
  .home__carousel .card {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .home {
    padding: 70px 0;
  }
  .home__title {
    font-size: 36px;
  }
  .home__carousel .card {
    margin-top: 40px;
  }
}
/*==============================
	Content
==============================*/
.content {
  padding: 0 0 20px;
}
.content__head {
  background-color: #1a191f;
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid rgba(210,201,255,0.1);
}
.content__title {
  color: #fff;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  margin: 20px 0 5px;
}
.content__tabs {
  display: none;
}
.content__mobile-tabs {
  position: relative;
}
.content__mobile-tabs--profile {
  margin-bottom: -20px;
}
.content__mobile-tabs-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.content__mobile-tabs-btn input {
  display: block;
  position: relative;
  width: auto;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
  cursor: pointer;
  height: 50px;
  margin-right: 12px;
  letter-spacing: 0.4px;
}
.content__mobile-tabs-btn span {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
}
.content__mobile-tabs-btn span:before,
.content__mobile-tabs-btn span:after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  background-color: rgba(255,255,255,0.7);
  left: 0;
  top: 50%;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: -5px;
}
.content__mobile-tabs-btn span:after {
  margin-top: 2px;
  width: 10px;
}
.content__mobile-tabs-btn[aria-expanded="true"] {
  opacity: 1;
}
.content__mobile-tabs-btn[aria-expanded="true"] span:before {
  background-color: #aa0001;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -1px;
}
.content__mobile-tabs-btn[aria-expanded="true"] span:after {
  background-color: #aa0001;
  margin-top: -1px;
  width: 16px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content__mobile-tabs-menu {
  position: absolute;
  background-color: #1a191f;
  padding: 15px 20px;
  display: block;
  min-width: 200px;
  pointer-events: none;
  opacity: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 0;
  top: 100%;
  left: 0;
  z-index: 100;
  margin-top: -10px;
}
.content__mobile-tabs-menu a {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  line-height: 40px;
  display: block;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.content__mobile-tabs-menu a:hover {
  color: #aa0001;
}
.content__mobile-tabs-menu a.active {
  display: none;
}
.content__mobile-tabs-menu.show {
  pointer-events: auto;
  opacity: 1;
  margin-top: 0;
}
@media (min-width: 576px) {
  .content__title {
    font-size: 30px;
    margin: 25px 0 10px;
  }
  .content__tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }
  .content__tabs li {
    margin-right: 40px;
  }
  .content__tabs li:last-child {
    margin-right: 0;
  }
  .content__tabs a {
    display: block;
    line-height: 50px;
    color: rgba(255,255,255,0.7);
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.4px;
  }
  .content__tabs a:hover {
    color: #aa0001;
  }
  .content__tabs a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-color: #aa0001;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 0;
  }
  .content__tabs a.active {
    color: #aa0001;
  }
  .content__tabs a.active:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  .content__tabs--profile {
    display: none;
  }
  .content__mobile-tabs {
    display: none;
  }
  .content__mobile-tabs--profile {
    display: block;
  }
}
@media (min-width: 768px) {
  .content {
    padding: 0 0 30px;
  }
  .content__title {
    font-size: 32px;
    margin: 35px 0 15px;
  }
  .content__head {
    margin-bottom: 40px;
  }
  .content__tabs--profile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .content__tabs--profile a {
    line-height: 80px;
  }
  .content__mobile-tabs--profile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content {
    padding: 0 0 40px;
  }
  .content__title {
    font-size: 36px;
  }
  .content__tabs li {
    margin-right: 45px;
  }
  .content__tabs li:last-child {
    margin-right: 0;
  }
}
/*==============================
	Section
==============================*/
.section {
  padding: 40px 0;
  position: relative;
}
.section__title-wrap {
  position: relative;
  margin-bottom: 25px;
}
.section__title {
  color: #fff;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  margin-bottom: 25px;
}
.section__title b {
  font-weight: 600;
}
.section__title--carousel {
  padding-right: 200px;
  margin-bottom: 0;
}
.section__title--no-margin {
  margin-bottom: 15px;
}
.section__text {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  letter-spacing: 0.4px;
}
.section__text:last-child {
  margin-bottom: 0;
}
.section__text b {
  font-weight: 600;
  color: #fff;
}
.section__text a {
  color: #aa0001;
}
.section__text a:hover {
  color: #aa0001;
  text-decoration: underline;
}
.section__text--last-with-margin:last-child {
  margin-bottom: 30px;
}
.section__list ol {
  padding-left: 0;
  list-style: none;
  counter-reset: li;
  margin-bottom: 0;
}
.section__list ol ol {
  padding-left: 15px;
  margin-top: 10px;
}
.section__list ol ol ol {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section__list ol ol ol li {
  margin-top: 5px;
}
.section__list ol h4 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255,255,255,0.8);
  display: inline-block;
  letter-spacing: 0.4px;
  margin-bottom: 0;
  margin-top: 20px;
}
.section__list ol li {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255,255,255,0.8);
  position: relative;
  letter-spacing: 0.4px;
}
.section__list ol li b {
  font-weight: 600;
  color: #fff;
}
.section__list ol li a {
  color: #aa0001;
}
.section__list ol li a:hover {
  color: #aa0001;
  text-decoration: underline;
}
.section__list ol li:last-child {
  margin-bottom: 0;
}
.section__list ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}
.section__nav-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}
.section__view {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 30px;
  color: rgba(255,255,255,0.7);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(210,201,255,0.04);
  font-size: 14px;
  letter-spacing: 0.4px;
  margin-right: 20px;
}
.section__view:hover {
  color: #aa0001;
}
.section__nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: rgba(255,255,255,0.7);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(210,201,255,0.04);
  font-size: 16px;
}
.section__nav--prev {
  margin-right: 20px;
}
.section__nav:hover {
  color: #aa0001;
}
.section__carousel .card {
  margin-bottom: 0;
}
.section__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.section--first {
  margin-top: 70px;
}
.section--first .section__title {
  margin-bottom: 0;
}
.section--details {
  margin-top: 70px;
}
.section--border {
  border-top: 1px solid rgba(210,201,255,0.1);
}
.section--faq {
  padding: 40px 0 0;
}
.section--grid {
  padding: 40px 0 25px;
}
@media (min-width: 576px) {
  .section__title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
  .section__title-wrap {
    margin-bottom: 35px;
  }
  .section__title {
    font-size: 32px;
    margin-bottom: 35px;
  }
  .section__title--carousel {
    margin-bottom: 0;
  }
  .section__title--no-margin {
    margin-bottom: 20px;
  }
  .section__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section--first,
  .section--details {
    margin-top: 80px;
  }
  .section--faq {
    padding: 60px 0 0;
  }
  .section--grid {
    padding: 60px 0 45px;
  }
}
@media (min-width: 992px) {
  .section__text--last-with-margin:last-child {
    margin-bottom: 30px;
  }
  .section--grid {
    padding: 60px 0 40px;
  }
}
@media (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}
/*==============================
	Breadcrumb
==============================*/
.breadcrumb {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}
.breadcrumb__item {
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
  margin-right: 40px;
  letter-spacing: 0.4px;
}
.breadcrumb__item:before {
  content: '\f119';
  position: absolute;
  font-family: "Ionicons";
  color: rgba(255,255,255,0.6);
  left: 100%;
  top: 0;
  font-size: 22px;
  line-height: 26px;
  margin-left: 14px;
}
.breadcrumb__item:hover {
  color: #fff;
}
.breadcrumb__item--active {
  cursor: default;
  margin-right: 0;
}
.breadcrumb__item--active:before {
  display: none;
}
.breadcrumb__item--active:hover {
  color: rgba(255,255,255,0.7);
}
.breadcrumb a {
  color: rgba(255,255,255,0.7);
}
.breadcrumb a:hover {
  color: #aa0001;
}
@media (min-width: 768px) {
  .breadcrumb {
    margin-top: 0;
  }
}
/*==============================
	Card
==============================*/
.card {
  margin-bottom: 30px;
}
.card__cover {
  position: relative;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.card__cover img {
  width: 100%;
}
.card__cover:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26,25,31,0.8);
  z-index: 2;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.card__cover:hover:before {
  opacity: 1;
}
.card__cover:hover .card__play {
  opacity: 1;
}
.card__play {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(255,255,255,0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  z-index: 3;
  font-size: 30px;
  color: #fd6060;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0;
}
.card__play i {
  position: relative;
  z-index: 2;
  margin: 2px 0 0 3px;
}
.card__play:before {
  content: '';
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}
.card__play:hover {
  background-color: rgba(253,96,96,0.1);
  color: #fd6060;
}
.card__content {
  position: relative;
  display: block;
  margin-top: 10px;
}
.card__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.card__title a {
  color: #fff;
}
.card__title a:hover {
  color: #fff;
}
.card__category {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card__category a {
  font-size: 14px;
  position: relative;
  color: #aa0001;
  margin-right: 10px;
  opacity: 0.7;
}
.card__category a:after {
  content: ',';
  position: absolute;
  display: block;
  left: 100%;
  top: 0;
  color: #aa0001;
}
.card__category a:last-child {
  margin-right: 0;
}
.card__category a:last-child:after {
  display: none;
}
.card__category a:hover {
  opacity: 1;
}
.card__rate {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #fff;
  position: absolute;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
  background-color: rgba(26,25,31,0.7);
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.card__rate--green {
  border-color: #48ee3b;
}
.card__rate--red {
  border-color: #fd6060;
}
.card__meta {
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255,255,255,0.8);
}
.card__meta span {
  color: rgba(255,255,255,0.8);
  margin-right: 7px;
  letter-spacing: 0.4px;
}
.card__meta li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  letter-spacing: 0.4px;
}
.card__meta li:last-child {
  margin-bottom: 0;
}
.card__meta a {
  font-size: 16px;
  position: relative;
  color: #aa0001;
  margin-right: 7px;
  opacity: 0.7;
  letter-spacing: 0.4px;
}
.card__meta a:after {
  content: ',';
  position: absolute;
  display: block;
  left: 100%;
  top: 0;
  color: #aa0001;
}
.card__meta a:last-child {
  margin-right: 0;
}
.card__meta a:last-child:after {
  display: none;
}
.card__meta a:hover {
  opacity: 1;
}
.card__description {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.4px;
}
.card--details {
  margin-bottom: 20px;
}
.card--details .card__cover img {
  max-width: 270px;
}
.card--details .card__cover:hover:before {
  opacity: 0;
}
.card--details .card__content {
  margin-top: 20px;
}
@media (min-width: 576px) {
  .card__meta {
    margin-top: -6px;
  }
  .card--big .card__title {
    font-size: 20px;
  }
  .card--details {
    margin-bottom: 30px;
  }
  .card--details .card__content {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .card--big .card__rate {
    top: 20px;
    left: 20px;
  }
}
@media (min-width: 992px) {
  .card--details {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .card--big .card__play {
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    font-size: 36px;
  }
  .card--big .card__play:before {
    width: 58px;
    height: 58px;
    margin: -29px 0 0 -29px;
  }
  .card--big .card__play i {
    margin: 2px 0 0 5px;
  }
}
/*==============================
	Catalog
==============================*/
.catalog {
  padding: 0 0 20px;
}
@media (min-width: 768px) {
  .catalog {
    padding: 0 0 40px;
  }
}
/*==============================
	Filter
==============================*/
.filter {
  background-color: #1a191f;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(210,201,255,0.1);
}
.filter__item {
  position: relative;
  margin-bottom: 20px;
}
.filter__item-label {
  font-size: 12px;
  line-height: 100%;
  display: block;
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
}
.filter__item-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.filter__item-btn input {
  display: block;
  position: relative;
  width: auto;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  height: 30px;
  margin-right: 12px;
  letter-spacing: 0.4px;
}
.filter__item-btn span {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  margin-top: 3px;
}
.filter__item-btn span:before,
.filter__item-btn span:after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  background-color: rgba(255,255,255,0.7);
  left: 0;
  top: 50%;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: -5px;
}
.filter__item-btn span:after {
  margin-top: 2px;
  width: 10px;
}
.filter__item-btn[aria-expanded="true"] span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -2px;
  background-color: #aa0001;
}
.filter__item-btn[aria-expanded="true"] span:after {
  margin-top: -2px;
  width: 16px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #aa0001;
}
.filter__item-btn:hover span:before,
.filter__item-btn:hover span:after {
  background-color: #aa0001;
}
.filter__item-menu {
  position: absolute;
  background-color: #1a191f;
  top: 100%;
  left: 0;
  margin-top: 0;
  min-width: 200px;
  padding: 15px 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  display: block;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  max-height: 190px;
}
.filter__item-menu li {
  display: block;
  line-height: 40px;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  letter-spacing: 0.4px;
}
.filter__item-menu li:hover {
  color: #aa0001;
}
.filter__item-menu.show {
  pointer-events: auto;
  opacity: 1;
  margin-top: 10px;
}
.filter__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px 0;
}
.filter__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 120px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
}
.filter__btn:hover {
  color: #fff;
}
.filter__range {
  font-size: 16px;
  color: #fff;
  margin-right: 12px;
  letter-spacing: 0.4px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.filter__range div {
  position: relative;
}
.filter__range div:first-child {
  margin-right: 17px;
}
.filter__range div:first-child:after {
  content: '–';
  position: absolute;
  display: block;
  left: 100%;
  top: 0;
  color: #fff;
  font-size: 16px;
  margin-left: 4px;
}
@media (min-width: 768px) {
  .filter {
    margin-bottom: 40px;
  }
  .filter__content {
    padding: 40px 0;
  }
}
@media (min-width: 992px) {
  .filter__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    height: 80px;
  }
  .filter__items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .filter__item {
    margin-bottom: 0;
    margin-right: 60px;
  }
  .filter__item-label {
    margin-top: 6px;
  }
  .filter__item-menu {
    margin-top: 5px;
  }
  .filter__item-menu.show {
    margin-top: 15px;
  }
}
/* range slider */
.noUi-target {
  background: #1a191f;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.noUi-horizontal {
  height: 4px;
  margin: 10px 0;
}
.noUi-connects {
  background-color: rgba(210,201,255,0.04);
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.noUi-connect {
  background-color: #aa0001;
}
.noUi-handle {
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.noUi-handle:focus {
  outline: none;
}
.noUi-handle.noUi-handle-lower {
  background-color: #aa0001;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.noUi-handle.noUi-handle-upper {
  background-color: #aa0001;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -8px;
}
/*==============================
	Paginator
==============================*/
.paginator {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px auto 30px;
  height: 36px;
  width: 340px;
  max-width: 100%;
}
.paginator__item {
  margin-right: 15px;
}
.paginator__item a {
  font-size: 16px;
  height: 36px;
  width: 36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255,255,255,0.7);
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(210,201,255,0.04);
  border: 1px solid transparent;
}
.paginator__item:last-child {
  margin-right: 0;
}
.paginator__item:hover a {
  color: #aa0001;
}
.paginator__item--prev,
.paginator__item--next {
  display: block;
  position: relative;
}
.paginator__item--prev a,
.paginator__item--next a {
  font-size: 18px;
}
.paginator__item--active a {
  color: #fff;
  cursor: default;
  border-color: #aa0001;
}
.paginator__item--active a:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .paginator {
    margin: 30px auto 20px;
    height: 40px;
  }
  .paginator__item {
    margin-right: 20px;
  }
  .paginator__item a {
    width: 40px;
    height: 40px;
  }
  .paginator__item:last-child {
    margin-right: 0;
  }
}
/*==============================
	Profile
==============================*/
.profile {
  background-color: #1a191f;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(210,201,255,0.1);
}
.profile__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 0;
}
.profile__user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.profile__meta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.profile__meta h3 {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: 2px;
}
.profile__meta span {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  letter-spacing: 0.4px;
}
.profile__avatar {
  display: block;
  position: relative;
  width: 50px;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
}
.profile__avatar img {
  width: 100%;
}
.profile__logout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 15px;
  top: 25px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
}
.profile__logout:hover {
  color: #fff;
}
.profile__logout span {
  display: none;
}
.profile__logout i {
  color: rgba(255,255,255,0.7);
  font-size: 24px;
}
.profile__form {
  background-color: #1a191f;
  border: 1px solid rgba(210,201,255,0.1);
  padding: 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.profile__title {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}
.profile__group {
  position: relative;
  margin-bottom: 20px;
}
.profile__label {
  letter-spacing: 0.4px;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.profile__input {
  width: 100%;
  background-color: rgba(210,201,255,0.04);
  border: 1px solid transparent;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 0.4px;
  width: 100%;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0 20px;
}
.profile__input:focus {
  border-color: #aa0001;
}
.profile__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
  margin-top: 10px;
}
.profile__btn:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .profile {
    margin-bottom: 40px;
  }
  .profile__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    height: 80px;
  }
  .profile__user {
    width: 210px;
    margin-bottom: 0;
    margin-right: 40px;
  }
  .profile__logout {
    margin-left: auto;
    margin-top: 0;
    width: 120px;
    position: relative;
    top: auto;
    right: auto;
  }
  .profile__logout i {
    display: none;
  }
  .profile__logout span {
    display: block;
  }
  .profile__form {
    padding: 30px;
    margin-bottom: 40px;
  }
  .profile__btn {
    width: 140px;
  }
}
@media (min-width: 992px) {
  .profile__form {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .profile__user {
    width: 240px;
  }
  .profile__form {
    margin-bottom: 20px;
  }
}
/*==============================
	Price
==============================*/
.price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px;
  background-color: #1a191f;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  margin: 15px 0;
  position: relative;
}
.price--premium:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-color: #fd6060;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.price--premium .price__item:before {
  background-color: #fd6060;
}
.price--premium .price__item--first span:last-child {
  color: #fd6060;
}
.price--premium .price__btn {
  border-color: #fd6060;
}
.price--profile {
  margin: 0 0 30px;
}
.price__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  color: rgba(255,255,255,0.8);
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(210,201,255,0.1);
  position: relative;
  padding-left: 15px;
  letter-spacing: 0.4px;
}
.price__item:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.7);
  left: 0;
  top: 50%;
  margin-top: 4px;
}
.price__item--first {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
  padding-top: 0;
  border: none;
  color: #fff;
  padding-left: 0;
}
.price__item--first:before {
  display: none;
}
.price__item--first span:last-child {
  font-weight: 600;
  color: #aa0001;
}
.price__item:nth-child(2) {
  border: none;
}
.price__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
  margin-top: 20px;
}
.price__btn:hover {
  color: #fff;
  background-color: #aa0001;
}
@media (min-width: 576px) {
  .price__btn {
    margin-top: 25px;
  }
}
@media (min-width: 992px) {
  .price {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .price {
    padding: 30px;
  }
  .price--profile {
    margin: 0 0 20px;
  }
}
.plan-features li {
  position: relative;
  font-size: 16px;
  color: #fff;
  padding-left: 40px;
  line-height: 26px;
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}
.plan-features li:before {
  content: '\f3ff';
  font-family: "Ionicons";
  position: absolute;
  top: 0;
  left: 15px;
  color: #aa0001;
  font-size: 28px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .plan-features {
    margin-bottom: 30px;
  }
}
/*==============================
	FAQ
==============================*/
.faq {
  display: block;
  margin-bottom: 40px;
}
.faq__title {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}
.faq__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.4px;
}
.faq__text b {
  color: #fff;
  font-weight: 600;
}
.faq__text:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .faq {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .faq {
    padding: 0 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .faq {
    margin-bottom: 60px;
    padding: 0 40px 0 0;
  }
}
/*==============================
	Feature
==============================*/
.feature {
  display: block;
  position: relative;
  margin: 15px 0;
  padding-left: 65px;
}
.feature__icon {
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  font-size: 42px;
}
.feature__icon:before {
  color: #aa0001;
}
.feature__title {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}
.feature__text {
  display: block;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  letter-spacing: 0.4px;
}
@media (min-width: 992px) {
  .feature {
    padding-right: 15px;
    margin: 20px 0;
  }
}
/*==============================
	How
==============================*/
.how {
  display: block;
  margin: 15px 0;
}
.how__number {
  font-size: 46px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
  color: #aa0001;
}
.how__title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}
.how__text {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  letter-spacing: 0.4px;
}
.how__text b {
  font-weight: 600;
}
@media (min-width: 992px) {
  .how {
    margin: 20px 0;
  }
}
/*==============================
	Partners
==============================*/
.partner {
  display: block;
  margin: 15px 0;
}
.partner__img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0.7;
}
.partner:hover .partner__img {
  opacity: 1;
}
@media (min-width: 992px) {
  .partner {
    margin: 20px 0;
  }
}
/*==============================
	Contacts
==============================*/
.contacts__list {
  margin-bottom: 20px;
}
.contacts__list li {
  margin-bottom: 10px;
}
.contacts__list li:last-child {
  margin-bottom: 0;
}
.contacts__list a {
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  letter-spacing: 0.4px;
}
.contacts__list a:hover {
  color: #aa0001;
}
.contacts__social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__social li {
  margin-right: 20px;
}
.contacts__social li:last-child {
  margin-left: 0;
}
.contacts__social li.facebook a {
  color: #3b5999;
}
.contacts__social li.instagram a {
  color: $clr2;
}
.contacts__social li.instagram a i:before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #aa0001;
}
.contacts__social li.twitter a {
  color: #1da1f2;
}
.contacts__social li.vk a {
  color: #45668e;
}
.contacts__social a {
  font-size: 24px;
  color: rgba(255,255,255,0.7);
  letter-spacing: 0.4px;
}
.contacts__social a:hover {
  color: #aa0001;
}
/*==============================
	Form
==============================*/
.form {
  background-color: #1a191f;
  border: 1px solid rgba(210,201,255,0.1);
  padding: 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.form__input {
  margin-bottom: 20px;
  width: 100%;
  background-color: rgba(210,201,255,0.04);
  border: 1px solid transparent;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 0.4px;
  width: 100%;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0 20px;
}
.form__input:focus {
  border-color: #aa0001;
}
.form__textarea {
  border: 1px solid transparent;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.4px;
  width: 100%;
  padding: 15px 20px;
  resize: none;
  background-color: rgba(210,201,255,0.04);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.form__textarea:focus {
  border-color: #aa0001;
}
.form__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 140px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
  margin-top: 20px;
}
.form__btn:hover {
  color: #fff;
}
.form__slider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}
.form__slider:before {
  content: 'Rate:';
  position: absolute;
  bottom: 100%;
  left: 0;
  display: block;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.form__slider-rating {
  width: 160px;
  margin-right: 20px;
}
.form__slider-rating .noUi-connects {
  background-color: rgba(210,201,255,0.04);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
.form__slider-rating .noUi-handle.noUi-handle-lower {
  background-color: #aa0001;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.form__slider-value {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.4px;
}
.form--contacts {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .form--contacts {
    margin-bottom: 0;
  }
}
/*==============================
	Comments
==============================*/
.comments {
  margin-bottom: 50px;
}
.comments__autor {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px;
}
.comments__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comments__name {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.comments__time {
  display: block;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.comments__text {
  display: block;
  margin: 0;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  line-height: 26px;
  background-color: #1a191f;
  padding: 20px;
  position: relative;
  letter-spacing: 0.4px;
  border-top: 1px solid rgba(210,201,255,0.1);
  border-left: 1px solid rgba(210,201,255,0.1);
  border-right: 1px solid rgba(210,201,255,0.1);
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.comments__text span {
  display: block;
  background-color: rgba(210,201,255,0.04);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  min-height: 80px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
}
.comments__text span:before {
  content: '\f1f5';
  position: absolute;
  display: block;
  font-family: "Ionicons";
  color: rgba(255,216,14,0.1);
  font-size: 60px;
  top: 10px;
  left: 15px;
  line-height: 100%;
  z-index: 1;
  pointer-events: none;
}
.comments__item {
  margin-bottom: 30px;
  display: block;
}
.comments__item--answer,
.comments__item--quote {
  margin-left: 25px;
}
.comments__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a191f;
  padding: 15px 20px;
  border: 1px solid rgba(210,201,255,0.1);
  position: relative;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.comments__actions button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  margin-right: 20px;
  height: 22px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.comments__actions button i {
  margin-right: 5px;
}
.comments__actions button:hover {
  color: #aa0001;
}
.comments__actions button:last-child {
  margin-right: 0;
}
.comments__rate {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
}
.comments__rate button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  margin-right: 25px;
  position: relative;
  height: 30px;
  letter-spacing: 0.4px;
}
.comments__rate button i {
  font-size: 18px;
  opacity: 0.6;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.comments__rate button:last-child {
  margin-right: 0;
}
.comments__rate button:last-child i {
  margin-left: 6px;
  color: #fd6060;
}
.comments__rate button:first-child i {
  margin-right: 6px;
  color: #0cb457;
}
.comments__rate button:first-child:before {
  content: '';
  position: absolute;
  display: block;
  left: 100%;
  margin-left: 12px;
  width: 1px;
  height: 15px;
  background-color: rgba(210,201,255,0.1);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.comments__rate button:hover {
  color: #fff;
}
.comments__rate button:hover i {
  opacity: 1;
}
@media (min-width: 768px) {
  .comments {
    margin-bottom: 60px;
  }
  .comments__item--answer,
  .comments__item--quote {
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  .comments {
    margin-bottom: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .comments {
    margin-bottom: 20px;
  }
  .comments__item--answer,
  .comments__item--quote {
    margin-left: 68px;
  }
}
/*==============================
	Reviews
==============================*/
.reviews {
  margin-bottom: 50px;
}
.reviews__autor {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px;
  padding-right: 60px;
}
.reviews__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.reviews__name {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}
.reviews__time {
  display: block;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.reviews__text {
  display: block;
  margin: 0;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  line-height: 26px;
  background-color: #1a191f;
  padding: 20px;
  letter-spacing: 0.4px;
  border: 1px solid rgba(210,201,255,0.1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.reviews__item {
  margin-bottom: 30px;
  display: block;
}
.reviews__rating {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #fff;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(26,25,31,0.7);
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.reviews__rating--green {
  border-color: #48ee3b;
}
.reviews__rating--red {
  border-color: #fd6060;
}
@media (min-width: 576px) {
  .reviews__name {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .reviews {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .reviews {
    margin-bottom: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    margin-bottom: 20px;
  }
}
/*==============================
	Gallery
==============================*/
.gallery {
  margin-bottom: 20px;
}
.gallery figure {
  margin: 0 0 30px;
}
.gallery figure a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.gallery figure img {
  width: 100%;
}
.gallery figcaption {
  display: none;
}
@media (min-width: 768px) {
  .gallery {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .gallery {
    padding-right: 30px;
  }
}
/*==============================
	Footer
==============================*/
.footer {
  background-color: #1a191f;
  border-top: 1px solid rgba(210,201,255,0.1);
}
.footer__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px 0;
  position: relative;
}
.footer__logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.footer__logo img {
  width: 100%;
  max-width: 110px;
  display: block;
}
.footer__nav {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: start;
  -moz-box-direction: start;
  -ms-flex-direction: start;
  flex-direction: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
.footer__nav a {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: rgba(255,255,255,0.7);
  margin-right: 15px;
}
.footer__nav a:last-child {
  margin-right: 0;
}
.footer__nav a:hover {
  color: #aa0001;
}
.footer__copyright {
  display: inline-block;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255,255,255,0.3);
}
.footer__copyright a {
  color: rgba(255,255,255,0.3);
}
.footer__copyright a:hover {
  color: #aa0001;
}
.footer__back {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #aa0001;
  color: rgba(255,255,255,0.6);
  position: absolute;
  right: 0;
  bottom: 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 30px;
  line-height: 30px;
}
.footer__back:hover {
  color: #fff;
}
@media (min-width: 576px) {
  .footer__logo {
    width: 110px;
  }
}
@media (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    height: 80px;
  }
  .footer__nav {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    margin-top: 0;
    margin-left: auto;
    margin-right: 80px;
  }
  .footer__nav a {
    margin-right: 25px;
  }
  .footer__nav a:last-child {
    margin-right: 0;
  }
  .footer__copyright {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    margin-top: 0;
    margin-left: 20px;
  }
  .footer__back {
    position: absolute;
    bottom: 50%;
    margin-bottom: -20px;
  }
}
@media (min-width: 1200px) {
  .footer__copyright {
    margin-left: 40px;
  }
  .footer__nav a {
    margin-right: 40px;
  }
  .footer__nav a:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1310px) {
  .footer__nav {
    margin-right: 85px;
  }
  .footer__nav a {
    margin-right: 45px;
  }
  .footer__nav a:last-child {
    margin-right: 0;
  }
}
/*==============================
	Sign
==============================*/
.sign {
  display: block;
  position: relative;
}
.sign__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}
.sign__form {
  background-color: #1a191f;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.sign__logo {
  display: block;
  margin-bottom: 40px;
}
.sign__logo a {
  max-width: 100%;
  width: auto;
}
.sign__logo img {
  width: 140px;
}
.sign__input {
  background-color: rgba(210,201,255,0.04);
  border: 1px solid transparent;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 0.4px;
  width: 100%;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0 20px;
}
.sign__input:focus {
  border-color: #aa0001;
}
.sign__group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.sign__group--checkbox {
  width: 100%;
  text-align: left;
}
.sign__group--checkbox input:not(:checked),
.sign__group--checkbox input:checked {
  position: absolute;
  left: -9999px;
}
.sign__group--checkbox input:not(:checked) + label,
.sign__group--checkbox input:checked + label {
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 20px;
  letter-spacing: 0.4px;
  margin: 0;
}
.sign__group--checkbox input:not(:checked) + label a,
.sign__group--checkbox input:checked + label a {
  color: rgba(255, 90, 90, 0.7);
}
.sign__group--checkbox input:not(:checked) + label a:hover,
.sign__group--checkbox input:checked + label a:hover {
  color: #aa0001;
}
.sign__group--checkbox input:not(:checked) + label:before,
.sign__group--checkbox input:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(210,201,255,0.04);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.sign__group--checkbox input:not(:checked) + label:after,
.sign__group--checkbox input:checked + label:after {
  font-family: 'Ionicons';
  content: '\f3ff';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  color: #aa0001;
}
.sign__group--checkbox input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
.sign__group--checkbox input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.sign__group--checkbox label::-moz-selection {
  background: transparent;
  color: rgba(255,255,255,0.6);
}
.sign__group--checkbox label::selection {
  background: transparent;
  color: rgba(255,255,255,0.6);
}
.sign__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  /*background-color: transparent;*/
  background-color: #aa0001;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
  margin-bottom: 15px;
  margin-top: 15px;
}
.sign__btn_home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #aa0001;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
  margin-bottom: 15px;
  margin-top: 15px;
}
.sign__btn_home:hover{
  color: #fff;
}
.sign__btn:hover {
  color: #fff;
}
.sign__text {
  margin-top: 15px;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  letter-spacing: 0.4px;
}
.sign__text a {
  position: relative;
  color: rgba(255, 90, 90, 0.7);
}
.sign__text a:hover {
  color: #aa0001;
}
@media (min-width: 576px) {
  .sign__form {
    padding: 50px 60px;
  }
  .sign__logo {
    margin-bottom: 50px;
  }
}
/*==============================
	Page 404
==============================*/
.page-404 {
  display: block;
  position: relative;
}
.page-404__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}
.page-404__content {
  background-color: #1a191f;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.page-404__title {
  position: relative;
  color: #aa0001;
  line-height: 100%;
  font-size: 120px;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}
.page-404__text {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0 20px;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  letter-spacing: 0.4px;
}
.page-404__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  width: 140px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #aa0001;
  margin-top: 20px;
}
.page-404__btn:hover {
  color: #fff;
}
@media (min-width: 576px) {
  .page-404__content {
    padding: 50px 0;
  }
}
/*==============================
	Plyr customization
==============================*/
.plyr {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.plyr__menu__container .plyr__control {
  -webkit-transition: 0s ease;
  -moz-transition: 0s ease;
  transition: 0s ease;
}
.plyr__control.plyr__control--overlaid {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
  background: none;
  background-color: #1a191f;
}
.plyr--video .plyr__control--overlaid {
  background-color: rgba(255,255,255,0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 30px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #fd6060;
}
.plyr--video .plyr__control--overlaid:before {
  content: '';
  font-family: "Ionicons";
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
  font-size: 30px;
  color: #fd6060;
  padding: 1px 0 0 3px;
}
.plyr--video .plyr__control--overlaid svg {
  display: none;
}
.plyr--video .plyr__control--overlaid:hover,
.plyr--video .plyr__control--overlaid.plyr__tab-focus {
  background-color: rgba(253,96,96,0.1);
  color: #fd6060;
}
.plyr--video .plyr__progress__buffer {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.plyr__progress__buffer {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.plyr--full-ui input[type="range"] {
  color: #aa0001;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.plyr__tab-focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.plyr__tooltip {
  font-weight: 400;
}
.plyr__control.plyr__tab-focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
  background: none;
  background-color: #aa0001;
}
.plyr__control {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.plyr--video .plyr__control svg {
  filter: none;
}
/*==============================
	PhotoSwipe customization
==============================*/
.pswp__bg {
  background-color: rgba(26,25,31,0.75);
}
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: transparent;
}
.pswp__caption__center {
  font-size: 16px;
  color: #fff;
  padding: 15px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.pswp__counter {
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.pswp__button {
  opacity: 0.7;
}
.pswp__button:before {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.pswp__button:hover {
  opacity: 1;
}
.pswp__button:hover:before {
  color: #aa0001;
}
.pswp__button--close {
  background: none;
}
.pswp__button--close:before {
  content: '\f2c0';
  font-family: "Ionicons";
  position: absolute;
  display: block;
  font-size: 28px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.pswp__button--fs {
  background: none;
}
.pswp__button--fs:before {
  content: '\f2e7';
  font-family: "Ionicons";
  position: absolute;
  display: block;
  font-size: 24px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.pswp--fs .pswp__button--fs:before {
  content: '\f2d8';
}
.pswp__button--arrow--right:before,
.pswp__button--arrow--left:before {
  font-family: "Ionicons";
  position: absolute;
  display: block;
  font-size: 24px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: none;
  background-color: #1a191f;
}
.pswp__button--arrow--left:before {
  content: '\f27d';
}
.pswp__button--arrow--right:before {
  content: '\f287';
}
/*==============================
	mCustomScrollbar customization
==============================*/
.mCS-custom-bar {
  opacity: 1;
}
.mCS-custom-bar.mCSB_outside + .mCSB_scrollTools {
  right: 2px;
  top: 15px;
  bottom: 15px;
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(210,201,255,0.04);
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #aa0001;
  width: 2px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #aa0001;
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #aa0001;
}

.help-block{
  color: #a90001;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
